.elements {
  margin-bottom: 20px;
}
.elements .elements-box {
  box-shadow: 0px 0px 5px rgb(70, 11, 207);
}
.elements .elements-box img {
  width: 50%;
  padding: 5px 0px;
}
.elements .elements-box h5 {
  background: #024e7f;
  color: aliceblue;
  padding: 5px 0px;
}
